@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand100: "hsl(230, 57%, 50%)";
    --brand200: "hsl(230, 68%, 54%)";
    --gray100: "hsl(210, 11%, 15%)";
    --gray200: "hsl(210, 10%, 23%)";
    --gray300: "hsl(210, 9%, 31%)";
    --gray400: "hsl(210, 7%, 56%)";
    --gray500: "hsl(210, 11%, 71%)";
    --gray600: "hsl(210, 16%, 93%)";
    --gray700: "hsl(210, 17%, 95%)";
    --gray800: "hsl(210, 17%, 98%)";
    --gray900: "hsl(200, 100%, 99%)";
    --alert100: "hsl(349, 57%, 50%)";
    --alert200: "hsl(349, 69%, 55%)";
    --sucess100: "hsl(162, 88%, 26%)";
}

body {
    font-family: 'Roboto', sans-serif;
}

button {
    cursor: pointer;
}

.container {
    max-width: 960px;
    display: flex;
    margin: 0 auto;
}

.none {
    display: none; 
}

.flex {
    display: flex;
}

.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    width: 142px;
    height: 48px;
    border: 2px solid #4200FF;
    color: #4200FF;
}

.btn-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#4200FF;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    width: 142px;
    height: 48px;
    color: #fff;
    border: none;
}

.spinner {
    animation: spinner 1.5s infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media(min-width: 960px) {
        
    

}